@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
	font-family: Vazirmatn;
	src:
		url('@/static/fonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
		url('@/static/fonts/Vazirmatn[wght].woff2') format('woff2-variations');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

* {
	font-family: 'Vazirmatn';
	background-color: rgb(59, 59, 59);
}
